@media (max-width: 480px){
    .navbar{
        display: none;
    }
    header{
        display: flex;
        width: 100vw;
        height: 175px;
        align-items: center;
        margin-top: 59px 36px 0px 36px;
        
    
    }
    .logo{
        margin-left: 7.5vw;
        margin-right: 15.5vw;
        
    }
    .sections{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #242E52;
        text-decoration: none;
        margin-right: 2vw;
    }
    button.navbar{
        display: none;
        margin-right: 10vw;
        margin-left: 10vw;
        padding: 10px;
        gap: 10px;
        width: 134px;
        height: 44px;
        background: #8B48BF;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: #ffffff;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        border: none;
    }
    .box{
        margin-left: 24.5vw;
        margin-right: 7.5vw;
    }
    button.home{
        width: 134px;
        height: 44px;
        background: #8B48BF;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: #ffffff;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        border: none;
    }
    section.home{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100vw;
        box-sizing: border-box;
        padding: 0vw;
        justify-content: space-around;
        margin-top: auto;
    }
    h2{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 66px;
        letter-spacing: -0.035em;
        color: #232C50;
        margin: auto;
        text-align: center;
        padding-bottom: 14px;
    }
    p.vietnam16{
        width: 350px;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 157.1%;
        color: #000000;
        text-align: center;
        margin: auto;
        padding-bottom: 14px;
    }
    .frasehome{
        display: flex;
        flex-direction: column;
        width: 440px;
        justify-content: center;
        padding-top: 5em;
        padding-bottom: 5em;
        margin: auto;
    }
        h2.frasehome{
        padding: 0px;
    }

    button.home{
        width: 134px;
        height: 44px;
        background: #8B48BF;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: #ffffff;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        border: none;
        margin: auto;
    }   
    .ilustration-intro{
        width: 78vw;
    }
    section.sobrenosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        box-sizing: border-box;
        padding: 0vw;
        justify-content: space-around;
        margin: 0;
}
    section.frame2{
        width: 90vw;
        justify-content: center;
        text-align: center;
        margin-bottom:  3em;
}
    h3.frame2{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        color: #232851;
        margin: 0%;
}    button.frame3{
    width: 69px;
    height: 43px;
    background: #8B48BF;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    h4{
        display: inline-block;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 41px;
        color: #232851;
        width: 446px;
        height: 43px;
        background: rgba(139, 72, 191, 0.3);
        border-radius: 50px 0px 0px 50px;
        initial-value: 20px;
        text-align: center;
        margin-block-start: 0%;
        margin-block-end: 0%;
        position: relative;
        top: -43px;
    }
    section.frame3{
    width: 90vw;   
    }
    div.frame3column{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    p.vietnam16gray{
        width: 90vw;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style:normal;
        font-weight: 200;
        font-size: 15px;
        line-height: 25px;
        color: #b3b2b7;
        position: relative;
        top: -21.5px;
    }
}
@media (min-width: 480.1px){
    header{
        display: flex;
        width: 100vw;
        height: 175px;
        align-items: center;
    }
    .logo{
        margin-left: 11.5vw;
        margin-right: 15.5vw;
        
    }
    .sections{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #242E52;
        text-decoration: none;
        margin-right: 2vw;
    }
    button.navbar{
        margin-right: 10vw;
        margin-left: 10vw;
        padding: 10px;
        gap: 10px;
        width: 134px;
        height: 44px;
        background: #8B48BF;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: #ffffff;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        border: none;
    }
    .box{
        display: none;
    }
    .frasehome{
        display: inline-block;
        width: 440px;
    }
    section.home{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100vw;
        box-sizing: border-box;
        padding: 0vw 10vw 0vw 11.5vw;
        justify-content: space-between;
        
    }
    h2{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 66px;
        letter-spacing: -0.035em;
        color: #232C50;
        margin: 0%;
    }
    p.vietnam16{
        width: 350px;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 157.1%;
        color: #000000;
        margin: 28px 0px 28px 0px;
    }
    button.home{
        width: 134px;
        height: 44px;
        background: #8B48BF;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
        border-radius: 50px;
        color: #ffffff;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-weight: 500;
        font-size: 13px;
        border: none;
    }   
    section.frame2{
        display: inline-block;
        width: 440px;
    }
    section.sobrenosotros{
        display: flex;
        flex-direction: row;
        align-items:initial;
        width: 100vw;
        box-sizing: border-box;
        padding: 100px 10vw 8em 11.5vw;
        justify-content: space-between;
    }
    h3.frame2{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        color: #232851;
        margin: 0%;

    }
    button.frame3{
    width: 69px;
    height: 43px;
    background: #8B48BF;
    border-radius: 30px;
    color: #ffffff;
    border: none;
    }
    h4{
        display: inline;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 41px;
        color: #232851;
        margin-left: 1.5em;
    }
    section.frame3{
    width: 600px;   
    }
    div.frame3column{
        display: flex;
        flex-direction: column;
    }
    p.vietnam16gray{
        width: 427px;
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style:normal;
        font-weight: 200;
        font-size: 15px;
        line-height: 25px;
        color: #b3b2b7;
        margin: 0 0 0 6.5em;
    }
    section.testimonios{
        display: flex;
        width: 100vw;
        box-sizing: border-box;
        justify-content: space-around;
        padding-top: 5em;
}
    .card1{
        position: relative;
        display: inline-block;
        width: 390px;
        height: auto;
        text-align: center;

}
    img.fondo{
        height: 70px;
    }
    h3.frame{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
        color: #232851;
        margin: 0%;
        text-align: center;
        width: 100vw;
}
h4.frame{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 41px;
    color: #232851;
    text-align: center;
    margin-left: 0%;
}
section.texto{
    padding: 1em 0px 0px 0px;
}
p.vietnam16g{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style:normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px;
    color: #b3b2b7;
    width: 390px;
}
div.container{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 12em;
}
button.testimonios{
    width: 134px;
    height: 44px;
    background: #8B48BF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #ffffff;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 13px;
    border: none;
    margin: auto;
    text-align: center;
}
section.frame9{
    background-color: #8B48BF; ;
    width: 100vw;
    height: 224px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 11.5vw;
    padding-right: 11.5vw;
}
h5{
    width: 440px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
button.frame9{
    width: 134px;
    height: 44px;
    background: #ffffff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #8B48BF;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
    font-size: 13px;
    border: none;
}
footer{
    display: flex;
    background-color: #000000;
    width: 100vw;
    height: 250px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;

}
section.imagesicons{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ul.icons{
    width: 10em;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0%;
    margin-block-start: 0%;
    margin-block-end: 0%;
}
ul.list{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 128px;
    justify-content: space-between;
    padding-inline-start: 0%;

}
li.list{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
section.form{
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
input.update{
    width: 201px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13.1806px;
    line-height: 19px;
    color: #A0A0A0;
    text-align: center;

}
input.go{
    width: 63px;
    height: 42px;
    background: #8B48BF;
    border-radius: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 13.1806px;
    line-height: 19px;
    color: #ffffff;
    text-align: center;
}
span.copyright{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
}
}